<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53721942604-5a7d139k06evjtf7e2a03j21tqm261ap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53721942604-5a7d139k06evjtf7e2a03j21tqm261ap</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>53721942604-4lapgs12da2hodrpi07qfclh9p6dnhsf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcZF68u_1-mNBfpQmfQe1voyefj-sTw1c</string>
	<key>GCM_SENDER_ID</key>
	<string>53721942604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seedFirebase</string>
	<key>PROJECT_ID</key>
	<string>seed-75dc4</string>
	<key>STORAGE_BUCKET</key>
	<string>seed-75dc4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53721942604:ios:87827a45e433a34e0142e9</string>
</dict>
</plist>